hr{
    margin: 6px;
}
body{
    padding: 0;
    margin: 0;
}
.results{
    position: relative;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border: 1px solid #036CFF;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #036CFF;
    padding: 5px;
}
.results > .title{
    position: absolute;
    width: auto;
    font-size: small;
    height: 30px;
    background-color: #036CFF;
    color: white;
    border-radius: 10px;
    padding: 5px;
    bottom: 100%;
}
.results > .container-results{
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.results > .container-results > .result-item{
    position: relative;
    width: 10px;
    aspect-ratio: 1/1;
}
.results > .container-results > .result-value{
    position: relative;
    text-align: center;
}
.container-simulation{
    position: relative;
    width: 100%;
    border: 1px dotted gray;
    height: 80vh;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.container-simulation > .item{
    z-index: 0;
    border-radius: 50%;
    position: absolute;
    width: 3%;
    aspect-ratio: 1/1;
    top: 50%;
    margin-top: -3%;
}
.container-simulation > .item:nth-child(1){
    left: 0%;
    margin-left: 0px;
}
.container-simulation > .item:nth-child(2){
    right: 0%;
    margin-right: 0px;
}
hr{
    position: relative;
    width: 100%;
    position: relative;
    vertical-align: middle;
}